.countDesign{
    color: red;
    position: absolute;
    top: 28px;
    /* font-size: 16px; */
    right: 10p;
    /* left: 10px; */
    font-weight: 500;
    right: 38px;
}

.logo{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    background-image: url(/src/assets/logo.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.icons{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.getIntuch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formFields{
    width: 300px;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0px;

    &input:active{
        border-radius: 5px;
    }
}

.address{
    margin-top: 25px;
}

.footer{
    margin-top: 50px;
    background-color: #4646f1;
    color: white;
    padding: 10px;
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.7;
    width: 36px;
    height: 36px;
    background-color: #b3b3c9;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-button.visible {
    opacity: 1;
  }
  

  .FormContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 160px;
  }

  .formwrapper{
    width: 35%;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
  }

  .celebration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-size: 24px;
  }
  
  .confetti {
    width: 20px;
    height: 20px;
    background-color: #f39c12;
    position: absolute;
    top: -20px;
    animation: confettiFall linear 2s infinite;
  }
  
  @keyframes confettiFall {
    0% {
      transform: translateY(-10px) rotate(0deg);
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
    }
  }

  .clearInput {
    position: relative;
    left: 774px;
    top: -33px;
    transform: translate(0, -50%);
    cursor: pointer;
    color: gray;
  }

  .header-style{
    font-size: "20px";
    font-weight: "800";
    color: rgb(70, 70, 241);
    margin-top: 50px ;      
  }

  .login{
    font-size: 22px;
    font-weight: bolder;
  }


  .password-input-container {
    position: relative;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 32px; /* Fixed width for the icon space */
    text-align: center; /* Center the icon horizontally */
  }

  .user-container {
    position: relative;
    display: inline-block;
  }
  
  .username {
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
  
  .logout-box {
    display: none;
    position: absolute;
    top: 95%;
    left: 0;
    width: 120px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-container:hover .logout-box {
    display: block;
  }
  


@media (max-width: 768px) {
    .formwrapper {
      width: 70%;
      margin: 0 auto;
    }
    .passwordVisibility {
        top: 80%;
        right: 110px;
      }
      .password-toggle-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 32px; /* Fixed width for the icon space */
        text-align: center; /* Center the icon horizontally */
      } 
  }
  
 
  
  
  
  
  
  
  

  